* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: center;
}

.row-left{
    display: flex;
    flex-direction: row-reverse;

}

.bg-color-blu {
    background-color:#01178B ;
} 

.bg-color-grey {
    background-color: #D3D3D3 ;
}

.bg-color-yellow{
    background-color: #DAA520;
}

.bg-color-pinkr{
    background-color: #EE82EE;
}

.bg-color-lightblue{
    background: #1D90FF;
}

.bg-color-lightpink{
    background-color: pink;
}

.col-3 {
    border: 1px dashed black;
    flex-basis: calc(100% / 4);
   
}

.col-6{
    border: 1px dashed black;
    flex-basis: calc(100% / 2);
}


.col-8{
    flex-basis: calc((100% * 2) /3);
}

.col-4{
    flex-basis: calc(100% / 3);
}
















/* DEBUG RULES */

.debug .page-header{
    background-color: #ADD8E6;
    min-height: 80px;
}

.debug .container{
    border: 2px solid black;
    min-height: 90px;
    padding: 20px;
}

.debug .row,
.debug .row-left{
    border: 2px solid blue;
    min-height: 90px;
    padding: 20px;
}

.debug .page-footer{
    background-color:#222729 ;
    
}

.debug [class^='col-'] {
	min-height: 100px;
	padding: 10px;
	border: 1px dashed black;
    font-weight: 700;
}

