* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
















/* DEBUG RULES */

.debug .page-header{
    background-color: #ADD8E6;
    min-height: 80px;
}

.debug .container{
    border: 2px solid black;
    min-height: 90px;
    padding: 20px;
}

.debug .row{
    border: 2px solid blue;
    min-height: 90px;
    padding: 20px;
}

.debug .page-footer{
    background-color:#222729 ;
    
}

