* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.bg-color-blu {
    background-color:#01178B ;
} 

.bg-color-grey {
    background-color: #D3D3D3 ;
}

.bg-color-yellow{
    background-color: #DAA520;
}

.col-3 {
    border: 1px dashed black;
}

.col-6{
    border: 1px dashed black;
}


















/* DEBUG RULES */

.debug .page-header{
    background-color: #ADD8E6;
    min-height: 80px;
}

.debug .container{
    border: 2px solid black;
    min-height: 90px;
    padding: 20px;
}

.debug .row{
    border: 2px solid blue;
    min-height: 90px;
    padding: 20px;
}

.debug .page-footer{
    background-color:#222729 ;
    
}

